<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <kunalmagento_portfolio>
            <emails>
                <recipient>upadhyaykunal31@gmail.com</recipient>
            </emails>
        </kunalmagento_portfolio>
    </default>
</config>
